# Environments
.venv
.env
env
venv*

# VSCode
.vscode

# jupyter
.ipynb_checkpoints

# Byte-compiled / optimized
__pycache__/
*.py[cod]

# mypy
.mypy_cache/

# pytest
.pytest_cache

# Distribution  packagingbuild/
dist/
pip-wheel-metadata/
*.egg-info/

# Local GitHub actions
/act

# Test results
/test-results

# Code coverage results
/coverage

# Other
img/